@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Slab:wght@500&display=swap");

// FONTS:::
$fontGuerrilla: "Protest Guerrilla", sans-serif;
$RobotoSlab: "Roboto Slab", sans-serif;

// COLORS:::

$color01: white;

$Green-Treeline: #478559;
$color-main-font: #21236e;
$Pink-highlight: #b9235f;
$Bluewater-lowlight: #1995c6;
$Yellow-accent: #ffde22;

// text-shadow: 2px 2px 1px $Bluewater-lowlight;
