@import "./variables";

.credentials {
  background-image: url();
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.credentials-title,
.insta-title {
  font-family: $fontGuerrilla;
  margin-top: 3vh;
}
img {
  height: 70px;
  width: 70px;
  margin-top: 3vh;
}
