@import "./variables";

.credentials {
  min-height: 70vh;
  height: auto;
  background-image: url();
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.storyteller {
  box-shadow: 2px 2px 2px $color-main-font;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70vw;
  line-height: 2em;
  font-family: $FontMain;
  font-weight: 100;
}

.story {
  padding: 20px;
}
.insta {
  padding: 20px;
  background-color: lighten($color: $Yellow-accent, $amount: 30);
  display: flex;
  margin-top: 5vh;
  border-radius: 14px;
  box-shadow: 2px 2px 1px darken($color: $Yellow-accent, $amount: 5);
  margin-bottom: 2vh;
}

.credentials-title,
.insta-title {
  color: $colorFontTitle;
  font-family: $fontGuerrilla;
  margin-top: 3vh;
  margin-right: 2vw;
  text-shadow: 2px 2px 1px $Bluewater-lowlight;
  letter-spacing: 0.1em;
}
.credentials-title {
  padding: 50px;
}
.inst-icon {
  height: 40px;
  width: 40px;
  margin-top: 3vh;
}
