@import "./variables";

.pricing-section {
  background-image: url("../assets/IMGP8771.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  height: auto;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.966);
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option .title {
  font-size: 1.3rem;
  padding: 3px;
}

.option .story {
  font-size: 0.9rem;
}

.price-options {
  width: 70vw;
  display: flex;
}

.option {
  opacity: 1;
  width: 33%;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}

.option-title {
  font-family: $fontGuerrilla;
  font-size: 1.1em;
  margin-bottom: 2vh;
}

.option-description {
  font-size: 1.1em;
  justify-content: center;
  line-height: 1.4;
}

.price {
  margin-top: 2vh;
}

.option .menu-link {
  font-size: 1.1em;
  color: lighten($color: $color-main-font, $amount: 10);
  margin-top: auto;
}

.option {
  .menu-link:hover {
    font-size: 1.2em;
    color: $Yellow-accent;
    text-shadow: 1px 1px 3px $Pink-highlight;
  }

  &:has(.menu-link:hover) {
    background-color: lighten($color: $Green-Treeline, $amount: 30);
  }
}
