@import "./variables";

.title {
  font-family: $fontGuerrilla;
  font-size: 1.9rem;
  text-shadow: 2px 2px 1px $Bluewater-lowlight;
  padding: 50px 20px 20px 0;
  letter-spacing: 0.1em;
  color: darken($color: $color-main-font, $amount: 5);
}

.story {
  max-width: 70vw;
  color: $color-main-font;
  font-size: 1em;
  line-height: 1.6rem;
  font-family: $FontMain;
  font-weight: 500;
  padding: 20px;
  text-align: justify;
  text-shadow: 0.3px 1px 0.5px $color-main-font;
}
